<div class="sidenav" [ngClass]="isLeftSidebarCollapsed() ? 'sidenav-collapsed' : ''">
  <div class="logo-container">
    <button class="logo" (click)="toggleCollapse()">
      <i class="fas fa-bars"></i>
    </button>
    <div class="logo-text" *ngIf="!isLeftSidebarCollapsed()">
      App
    </div>
    <button class="btn-close" (click)="closeSidebar()" *ngIf="!isLeftSidebarCollapsed()">
      <i class="fas fa-times"></i>
    </button>
  </div>
  <div class="sidenav-nav">
    <ul class="nav-list">
      <li *ngFor="let item of menuItemList" class="sidenav-nav-item">
        <a class="sidenav-nav-link" *ngIf="!item.subMenuItemList" [routerLink]="item.routerLink">
          <i class="fas fa-home"></i>
          <span class="sidenav-link-text" *ngIf="!isLeftSidebarCollapsed()">{{ item.label }}</span>
        </a>
        <div *ngIf="item.subMenuItemList && !isLeftSidebarCollapsed()">
          <a class="sidenav-nav-link d-flex justify-content-between align-items-center" (click)="toggleMenu(item.id)">
            <div class="d-flex align-items-center">
              <i class="fas fa-home"></i>
              <span class="sidenav-link-text ml-2">{{ item.label }}</span>
            </div>
          </a>
          <ul *ngIf="!isLeftSidebarCollapsed()" [ngClass]="{'submenu': true, 'show': menuStates[item.id]}"
            class="nav flex-column" style="list-style: none;">
            <li *ngFor="let subItem of item.subMenuItemList" class="sidenav-nav-item">
              <a *ngIf="!subItem.subMenuItemList" [routerLink]="subItem.routerLink" class="sidenav-nav-link">
                <i class="fas fa-home"></i>
                {{ subItem.label }}
              </a>
              <div *ngIf="subItem.subMenuItemList">
                <a class="sidenav-nav-link" (click)="toggleMenu(subItem.id)">
                  <i class="fas fa-home"></i>
                  {{ subItem.label }}
                </a>
                <ul [ngClass]="{'d-none': !menuStates[subItem.id]}" class="nav flex-column ml-3">
                  <li *ngFor="let subSubItem of subItem.subMenuItemList" class="sidenav-nav-item">
                    <a [routerLink]="subSubItem.routerLink" class="sidenav-nav-link">
                      <i class="fas fa-home"></i>
                      {{ subSubItem.label }}
                    </a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
        <div *ngIf="item.subMenuItemList && isLeftSidebarCollapsed()">
          <a class="sidenav-nav-link d-flex justify-content-between align-items-center"
            (click)="toggleMenuCollapse(item.id)">
            <!-- Left side (Icon and Label) -->
            <div class="d-flex align-items-center">
              <i class="fas fa-home"></i>
              <span class="sidenav-link-text ml-2">{{ item.label }}</span>
            </div>
          </a>
          <ul *ngIf="isLeftSidebarCollapsed()" [ngClass]="{'submenu-popout': true, 'show': menuStates[item.id]}"
            class="">
            <li *ngFor="let subItem of item.subMenuItemList" class="">
              <a *ngIf="!subItem.subMenuItemList" [routerLink]="subItem.routerLink" class="">
                <i class="fas fa-home"></i>
                {{ subItem.label }}
              </a>
              <div *ngIf="subItem.subMenuItemList">
                <a class="" (click)="toggleMenuCollapse(subItem.id)">
                  <i class="fas fa-home"></i>
                  {{ subItem.label }}
                </a>
                <ul [ngClass]="{'d-none': !menuStates[subItem.id]}" class="">
                  <li *ngFor="let subSubItem of subItem.subMenuItemList" class="">
                    <a [routerLink]="subSubItem.routerLink" class="">
                      <i class="fas fa-home"></i>
                      {{ subSubItem.label }}
                    </a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>