/* Sidebar styling */
.sidenav {
  width: 250px;
  height: 100vh;
  background-color: #343a40;
  position: fixed;
  top: 0;
  left: 0;
  color: #fff;
  transition: all 0.3s ease;
  overflow-x: hidden;
  z-index: 100000;
}

.sidenav-collapsed {
  width: 60px;
}

.sidenav-nav {
  padding: 0;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background-color: #23272b;
}

.logo {
  background: none;
  border: none;
  color: #fff;
  font-size: 24px;
}

.logo-text {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}

.btn-close {
  background: none;
  border: none;
  color: #fff;
  font-size: 20px;
}

.sidenav-nav-item {
  list-style-type: none;
}

.sidenav-nav-link {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  color: #cfd8dc;
  text-decoration: none;
  font-size: 16px;
  transition: background 0.3s ease;
}

.sidenav-nav-link:hover {
  background-color: #495057;
  color: #fff;
}

.sidenav-link-icon {
  font-size: 18px;
  margin-right: 15px;
}

.sidenav-link-text {
  font-size: 16px;
}

.sidenav .fa-chevron-down, .sidenav .fa-chevron-right {
  margin-left: auto;
}

.nav-list {
  padding: 0;
  margin: 0;
}

.submenu {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.4s ease;
}

.submenu.show {
  max-height: 500px;
  opacity: 1;
}

.nav-item .nav-link {
  color: #adb5bd;
}

.nav-item .nav-link:hover {
  color: #fff;
}

.sidenav-collapsed .sidenav-link-text {
  display: none;
}

.sidenav-link-icon {
  margin-right: 8px;
}

.sidenav-link-chevron-icon {
  margin-left: auto; /* Automatically push the chevron icon to the right */
}