<!-- sidebar.component.html -->
<div class="sidenav" [ngClass]="isLeftSidebarCollapsed() ? 'sidenav-collapsed' : ''">
  <div class="logo-container">
    <button class="logo" (click)="toggleCollapse()">
      <i class="fas fa-wrench"></i>
    </button>
    <div class="logo-text" *ngIf="!isLeftSidebarCollapsed()">
      App
    </div>
    <button class="btn-close" (click)="closeSidebar()" *ngIf="!isLeftSidebarCollapsed()">
      <i class="fas fa-wrench"></i>
    </button>
  </div>

  <svg class="custom_svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
    <path
      d="M510.3 445.9l-73-292.1c-3.8-15.2-16.4-25.7-30.9-25.7h-60.3c3.6-10.1 5.9-20.7 5.9-32 0-53-43-96-96-96s-96 43-96 96c0 11.3 2.3 22 5.9 32h-60.3c-14.4 0-27.1 10.5-30.9 25.7L1.7 445.9C-6.6 479.2 16.4 512 48 512h416c31.6 0 54.6-32.8 46.3-66.1zM256 128c-17.6 0-32-14.4-32-32s14.4-32 32-32 32 14.4 32 32-14.4 32-32 32z" />
  </svg>

  <div class="sidenav-nav">
    <ul class="nav-list">
      <li *ngFor="let item of menuItemList" class="sidenav-nav-item">
        <!-- Menu item with no submenu -->
        <a class="sidenav-nav-link" *ngIf="!item.subMenuItemList" [routerLink]="item.routerLink">
          <i class="fas fa-wrench"></i>
          <span class="sidenav-link-text" *ngIf="!isLeftSidebarCollapsed()">{{ item.label }}</span>
        </a>

        <!-- Menu item with submenu -->
        <div *ngIf="item.subMenuItemList">
          <a class="sidenav-nav-link d-flex justify-content-between align-items-center" (click)="toggleMenu(item.id)">
            <div class="d-flex align-items-center">
              <i class="fas fa-wrench"></i>
              <span class="sidenav-link-text ml-2">{{ item.label }}</span>
            </div>
            <!-- Right side Chevron for expanding submenu -->
            <i class="fas" [ngClass]="menuStates[item.id] ? 'fa-chevron-down' : 'fa-chevron-right'"></i>
          </a>

          <!-- Submenu - Level 1 -->
          <ul [ngClass]="{'submenu': true, 'show': menuStates[item.id]}" class="nav flex-column"
            *ngIf="!isLeftSidebarCollapsed()">
            <li *ngFor="let subItem of item.subMenuItemList" class="sidenav-nav-item">
              <!-- Submenu item with no further submenu -->
              <a *ngIf="!subItem.subMenuItemList" [routerLink]="subItem.routerLink" class="sidenav-nav-link">
                {{ subItem.label }}
              </a>

              <!-- Nested submenu - Level 2 -->
              <div *ngIf="subItem.subMenuItemList">
                <a class="sidenav-nav-link" (click)="toggleMenu(subItem.id)">
                  {{ subItem.label }}
                  <i class="fas" [ngClass]="menuStates[subItem.id] ? 'fa-chevron-down' : 'fa-chevron-right'"></i>
                </a>
                <ul [ngClass]="{'d-none': !menuStates[subItem.id]}" class="nav flex-column ml-3">
                  <li *ngFor="let subSubItem of subItem.subMenuItemList" class="sidenav-nav-item">
                    <a [routerLink]="subSubItem.routerLink" class="sidenav-nav-link">
                      {{ subSubItem.label }}
                    </a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>