<div class="sidebar" [ngClass]="{'collapsed': isCollapsed}">
  <!-- Logo and toggle button -->
  <div class="logo-container">
    <button class="logo" (click)="toggleSidebar()">
      <i class="fas fa-bars"></i>
    </button>
    <div class="logo-text" *ngIf="!isCollapsed">
      App
    </div>
    <button class="btn-close" (click)="closeSidebar()" *ngIf="!isCollapsed">
      <i class="fas fa-times"></i>
    </button>
  </div>
  <ul class="sidebar-list" style="list-style: none;">
    <li *ngFor="let itemL0 of menuItemList; let i = index" class="sidebar-item">
      <a href="#" (click)="toggleSubmenuForL0(i)" [ngClass]="{'has-submenu': itemL0.subMenuItemList}">
        <i class="{{ itemL0.icon }}"></i>
        <span *ngIf="!isCollapsed" class="px-2">{{ itemL0.label }}</span>
      </a>
      <div *ngIf="itemL0.subMenuItemList" [ngClass]="{'show': activeSubmenuIndex === i, 'submenu-popout': isCollapsed}"
        class="submenu-container">
        <ul class="submenu" style="list-style: none;">
          <li *ngFor="let itemL1 of itemL0.subMenuItemList; let j = index" class="submenu-item">
            <a href="#" (click)="toggleSubmenuForL1(i, j)" [ngClass]="{'has-submenu': itemL1.subMenuItemList}">
              <i class="{{ itemL1.icon }} pe-2"></i>
              {{itemL1.label}}
            </a>
            <div *ngIf="itemL1.subMenuItemList"
              [ngClass]="{'show': nestedSubmenuIndex[i] === j, 'submenu-popout': isCollapsed}"
              class="submenu-container">
              <ul class="submenu" style="list-style: none;">
                <li *ngFor="let itemL2 of itemL1.subMenuItemList; let k = index" class="submenu-item">
                  <a href="#">
                    <i class="{{ itemL2.icon }} pe-2"></i>
                    {{ itemL2.label }}
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>